html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
form {
    display: flex;
    flex-direction: row;
    height: 100%;
}
h1 {
    background-color: #F1CAA9;
    margin: 0;
    width: 100%;
    height: 2rem;
}
.position {
    flex-grow: 1;
    flex-basis: 0;
}
button {
    color: black;
    background-color: #F1CAA9;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}
.girl {
    background-color: #FCC3C3;
}
.neutral {
    background-color: #F7F4C3;
}
.boy {
    background-color: #BEE3F5;
}